$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'button';
@import 'general';
@import 'message';
@import 'passwordStrength';
@import 'calendar';
@import 'table';

/*@import 'bower_components/intro.js/introjs.css';
@import 'bower_components/handsontable/dist/jquery.handsontable.full.css';
*/
@import '../bower_components/ng-grid/ng-grid.min.css';
@import '../bower_components/fullcalendar/fullcalendar.css';


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Fix for Bootstrap 3 with Angular UI Bootstrap */

.modal { 
	display: block;
}


.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 880px; 
    height: 220px;
}

.gridStyleSearchForm {
    border: 1px solid rgb(212,212,212);
    width: 880px;
    height: 380px;
}

.grid-style-excel-sm {

	@extend .gridStyle;
    width: 400px;
}

.grid-style-excel-md {

	@extend .gridStyle;
    width: 550px;
}

.grid-style-excel-lg {

	@extend .gridStyle;
    width: 700px;
    height: 450px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#ajax-loader {
    position: fixed;
    right: 50px;
    top: 60px;
}

.top-buffer { margin-top:20px; }

.modal-lg {
    width: 1040px;
}

.highlight-row {
    background-color: blue;
    color: white;
}

.scroll-area-md {
  height: 120px;
  overflow: auto;
}
.cell-error {
    color: red;
}

.dl-help {
  @media (min-width: $grid-float-breakpoint) {
    dt {
      float: left;
      width: ($component-offset-horizontal - 140);
      clear: left;
      text-align: left;
      @include text-overflow();
    }
    dd {
      margin-left: ($component-offset-horizontal - 120);
    }
  }
}

.form-control-feedback {
    display: none;
}