/*Input Textbox*/

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/SMY\/workspace\/workspaces\/integral\/integral-web2\/app\/styles\/general\.scss;
  }

  line {
    font-family: \0000383;
  }
}

.tableMarcRecord {
  height: 300px;
}