@media -sass-debug-info {
  filename {
    font-family: file\:\/\/C\:\/Users\/SMY\/workspace\/workspaces\/integral\/integral-web2\/app\/styles\/table\.scss;
  }

  line {
    font-family: \000031;
  }
}

.failure-row {
  font-style: italic;
  color: red;
}