<div>
	<form name="formItem" class="form-horizontal" form-validation
		form-domain="Item" ng-submit="save()">
		<fieldset>
			<legend>
				<strong>{{'item.create' | i18n}}</strong>
			</legend>
		</fieldset>
		<div class="alert alert-error"
			ng-show="formItem.$error.uniqueConstraint">
			<span class="error">Unique Constraint Violation.</span>
		</div>
		<div class="control-group"
			ng-class="{error: formItem['inputItemItemIdentifier'].$invalid && formItem['inputItemItemIdentifier'].$dirty}">
			<label class="control-label">{{'item.itemIdentifier' | i18n}}</label>
			<div class="controls">
				<input placeholder="{{'Item.itemIdentifier.placeholder' | i18n}}"
					name="inputItemItemIdentifier" ng-model="item.itemIdentifier"
					class="span3" type="text" ng-focus="hasFocus(true, 'accession')"
					ng-blur="hasFocus(false, 'accession')" ng-unique="itemIdentifier"
					table-name="item" />
					<div ng-show="formItem['inputItemItemIdentifier'].$error.stoploading"
					id="ajax-loader" class="help-inline">
					<img class="media-object" src="images/ajax_loader_gray_32.gif">
				</div>
				<span ng-show="formItem['inputItemItemIdentifier'].$error.unique"
					class="help-inline">{{'item.itemIdentifier.code.exist.message' | i18n}}</span>
					<span
					ng-show="formItem['inputItemItemIdentifier'].$error.constraint"
					class="help-inline">{{formItem['inputItemItemIdentifier'].$error.constraintObject.message}}</span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{error: formItem['inputItemMaterial'].$invalid && formItem['inputItemMaterial'].$dirty}">
			<label class="control-label">{{'item.material' | i18n}}</label>
			<div class="controls">
				<input type="text" name="inputItemMaterial"
					ng-model="item.material.id"
					placeholder="{{'Item.material.placeholder' | i18n}}" /> <a
					id="btnCatalogSearch" class="btn btn-mini"
					href="#/cataloguing/search">...</a>
				<div ng-show="item.material.id">
					<get-title query="id:{{item.material.id}}"></get-title>
					<get-details query="id:{{item.material.id}}"></get-details>
				</div>
				<span ng-show="formItem['inputItemMaterial'].$error.constraint"
					class="help-inline">{{formItem['inputItemMaterial'].$error.constraintObject.message}}</span>
			</div>
		</div>


		<div class="control-group"
			ng-class="{error: formItem['inputItemForeignCost'].$invalid && formItem['inputItemForeignCost'].$dirty}">
			<label class="control-label">{{'item.foreignCost' | i18n}}</label>
			<div class="controls">
				<input placeholder="{{'Item.foreignCost.placeholder' | i18n}}"
					name="inputItemForeignCost" ng-model="item.foreignCost"
					class="span4" bigdecimal="" type="number" /> <span
					ng-show="formItem['inputItemForeignCost'].$error.constraint"
					class="help-inline">{{formItem['inputItemForeignCost'].$error.constraintObject.message}}</span>
			</div>
		</div>
		<div class="control-group"
			ng-class="{error: formItem['inputItemLocalCost'].$invalid && formItem['inputItemLocalCost'].$dirty}">
			<label class="control-label">{{'item.localCost' | i18n}}</label>
			<div class="controls">
				<input placeholder="{{'Item.localCost.placeholder' | i18n}}"
					name="inputItemLocalCost" ng-model="item.localCost"
					class="span4" bigdecimal="" type="number" /> <span
					ng-show="formItem['inputItemLocalCost'].$error.constraint"
					class="help-inline">{{formItem['inputItemLocalCost'].$error.constraintObject.message}}</span>
			</div>
		</div>

		<div class="row-fluid">
			<a id="btnBack" class="btn btn-primary" href="#item">{{'back'|
				i18n}}</a> <input type="submit" id="btnSave" class="btn btn-success"
				ng-disabled="formItem.$invalid" value="{{'save' | i18n}}" />
		</div>
	</form>
</div>
