<div class="row">
	<div class="col-md-12">
        <fieldset>
            <legend>
                <strong>{{'material.create' | i18n}}</strong>
            </legend>
        </fieldset>
		<form name="form" class="form-horizontal" role="form">
            <div class="form-group">
            
                <label class="col-md-2 control-label">{{'material.marcrecord.selectTemplate' | i18n}}</label>
                <div class="col-md-8">
                    <select class="form-control" ng-model="template" ng-options="_template.title for _template in templates"></select>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="select(template)">{{'select' | i18n}}</button>
		</form>
	</div>
</div>
