<div class="row">
    <div class="col-md-12">
        <div flash-alert="error" active-class="in alert" class="fade" ng-show="flash.message" duration="10000">
            <span class="alert-message">{{flash.message}}</span>
        </div>
        <div flash-alert="success" active-class="in alert" class="fade" ng-show="flash.message" duration="10000">
            <span class="alert-message">{{flash.message}}</span>
        </div>
        <div flash-alert="info" active-class="in alert" class="fade" ng-show="flash.message" duration="10000">
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
</div>