<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">{{'app.title' | i18n}}</a>
    </div>

	
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('circulation')}"><a ui-sref="circulation.home">{{'circulation' | i18n}}</a></li>
        <li ng-class="{active: $state.includes('cataloguing')}"><a ui-sref="cataloguing.home">{{'cataloguing' | i18n}}</a></li>
        <li ng-class="{active: $state.includes('foundation')}"><a ui-sref="foundation.home">{{'foundation' | i18n}}</a></li>
      </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li ><a href="" ng-Click="clickHelp()">{{'app.help' | i18n}}</a></li>
		<!--<li ><a href="" ng-Click="desktopMode()">{{modeType}} Mode</a></li> -->
		  	
		<li ><a href="./login" ng-show="isLoggedOut">Login</a></li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-show="isLoggedIn"><span class="glyphicon glyphicon-user"></span>{{username}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
           <!-- <li>
				<a tabindex="-1" href="#">Profile</a>
			</li> 
			<li class="divider"></li>-->
			<li>			
				<li><a href="./j_spring_cas_security_logout" >Logout</a></li>		
			</li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

		