<h3>{{'circulation.reserve' | i18n}}</h3>
<div>

    <div class="row-fluid">
        <div ng-show="ctdocm.ct03matno.id">
            <get-title query="id:{{ctdocm.ct03matno.id}}"></get-title>
            <get-details query="id:{{ctdocm.ct03matno.id}}"></get-details>
        </div>
    </div>
	<div class="row-fluid">
		<div class="alert alert-error" ng-show="error">{{error.message}}</div>
		<div class="alert alert-success" ng-show="reserve.screenMessage">{{reserve.screenMessage}}</div>
	</div>
	<div class="row-fluid">
		<div class="well">
			<form class="form-inline" ng-submit="reserved()">
				<input type="text"
					placeholder="{{'circulation.find.patronIdentifier' | i18n}}"
					ng-model="patronId" ng-required="true" /> <input type="submit"
					class="btn btn-primary" value="Reserve" />
			</form>
		</div>
	</div>
</div>