<div class="row">
	<div class="col-md-12">
		<form name="form" class="form-horizontal" role="form"
			ng-submit="createOrSave()">
			<fieldset>
				<legend>
					<strong>{{entityTitle}}</strong>
				</legend>
			</fieldset>
			<div class="alert alert-danger"
				ng-show="form.$error.uniqueConstraint">
				<span class="error">{{'default.not.unique.message' | i18n}}</span>
			</div>
			<m-form-input name="item" property="itemIdentifier" size="s"
				form="form">
      <input class="form-control" name="inputItemIdentifier"
				placeholder="{{'item.itemIdentifier.placeholder' | i18n}}"
				ng-model="item.itemIdentifier" ng-blur="" ng-unique="itemIdentifier"
				table-name="item" ng-required="true" maxlength="12" minlength="0"
				type="text"/></m-form-input>
			<m-form-input name="item" property="material" size="m" form="form">
			<m-search-input ng-model="item.material" entity-name="material">
			<span class="form-control" disabled="true" name="inputMaterial"
				ng-bind="item.material.getDescription()"></m-form-select></m-form-input>
			<m-form-input name="item" property="location" size="m" form="form">
			<m-form-select ng-model="item.location" entity-name="location">
			<select class="form-control" name="inputLocation"></select></m-form-select></m-form-input>
			<m-form-input name="item" property="itemCategory" size="m"
				form="form">
			<m-form-select ng-model="item.itemCategory" entity-name="itemCategory">
			<select class="form-control" name="inputItemCategory"></select></m-form-select></m-form-input>
			<m-form-input name="item" property="smd" size="m" form="form">
			<m-form-select ng-model="item.smd" entity-name="SMD">
			<select class="form-control" name="inputSmd"></select></m-form-select></m-form-input>
			<m-form-input name="item" property="condition" size="m" form="form">
			<m-form-select ng-model="item.condition" entity-name="condition">
			<select class="form-control" name="inputCondition"></select></m-form-select></m-form-input>      
      <!--
      <m-form-input name="item" property="itemStatus" size="m" form="form">
           <m-form-item-status ng-model="item.itemStatus"></m-form-item-status>
      </m-form-input>
      -->                                                                                              			
      <m-form-input name="item" property="volume" size="l" form="form">
			<input class="form-control" name="inputVolume"
				placeholder="{{'item.volume.placeholder' | i18n}}"
				ng-model="item.volume" maxlength="80" minlength="0" type="text" /></m-form-input>
			<m-form-input name="item" property="copyNumber" size="s" form="form">
			<input class="form-control" name="inputCopyNumber"
				placeholder="{{'item.copyNumber.placeholder' | i18n}}"
				ng-model="item.copyNumber" maxlength="20" minlength="0" type="text" /></m-form-input>
			<m-form-input name="item" property="foreignCost" size="m" form="form">
			<input class="form-control" name="inputForeignCost"
				placeholder="{{'item.foreignCost.placeholder' | i18n}}"
				ng-model="item.foreignCost" type="number" bigdecimal="" /></m-form-input>
			<m-form-input name="item" property="localCost" size="m" form="form">
			<input class="form-control" name="inputLocalCost"
				placeholder="{{'item.localCost.placeholder' | i18n}}"
				ng-model="item.localCost" type="number" bigdecimal="" /></m-form-input>
			<m-form-auditable-info ng-model="item"></m-form-auditable-info>
			<m-form-actions entity="item" form="form" repo="repository"
				actions="{{actions}}"></m-form-actions>
        
    
		</form>
	</div>
</div>
