<div class="row">
  
  <div class="col-md-3" ng-hide="isDesktopMode">
    <div class="list-group">
      <a ui-sref="cataloguing2.home" class="list-group-item" ng-class="{ active: $state.includes('cataloguing2.home')}">
        {{'label.home' | i18n}}
      </a>
      <a ui-sref="cataloguing2.resourceDescriptor.search" class="list-group-item" ng-class="{ active: $state.includes('cataloguing2.resourceDescriptor.search')}">
        {{'resourceDescriptor' | i18n}}
      </a>
    </div>
  </div>
  
  <!-- Our unnamed main ui-view for this template -->
  <div class="col-md-9"  ng-class="{'col-md-12': isDesktopMode}">
    <div class="row">
        <div class="col-md-11" ng-include="'views/messages.html'"></div>
    </div>
    <div class="row">
        <div ui-view class="col-md-11"></div>
    </div>
  </div>
</div>

            
