<div class="row">
  
  <div class="col-md-3" ng-hide="isDesktopMode">
    <div class="list-group">
      <a ui-sref="cataloguing.home" class="list-group-item" ng-class="{ active: $state.includes('cataloguing.home')}">
        {{'label.home' | i18n}}
      </a>
      <a ui-sref="cataloguing.material.search" class="list-group-item" ng-class="{ active: $state.includes('cataloguing.material.search')}">
        {{'material' | i18n}}
      </a>
      <a ui-sref="cataloguing.item.search" class="list-group-item" ng-class="{ active: $state.includes('cataloguing.item')}">
        {{'item' | i18n}}
      </a>
      <a ui-sref="cataloguing.release" class="list-group-item" ng-class="{ active: $state.includes('cataloguing.release')}">
        {{'cataloguing.release' | i18n}}
      </a>
    </div>
  </div>
  
  <!-- Our unnamed main ui-view for this template -->
  <div class="col-md-9"  ng-class="{'col-md-12': isDesktopMode}">
    <div class="row">
        <div class="col-md-11" ng-include="'views/messages.html'"></div>
    </div>
    <div class="row">
        <div ui-view class="col-md-11"></div>
    </div>
  </div>
</div>

            
